<div class="container mt-5 calendar-container">
  <div class="d-flex justify-content-between mb-3"></div>

  <div class="work-grid-header">
    <div class="grid-day">Monday <span class="day-date"></span></div>
    <div class="grid-day">Tuesday <span class="day-date"></span></div>
    <div class="grid-day">Wednesday <span class="day-date"></span></div>
    <div class="grid-day">Thursday <span class="day-date"></span></div>
    <div class="grid-day">Friday <span class="day-date"></span></div>
    <div class="grid-day">Saturday <span class="day-date"></span></div>
    <div class="grid-day">Sunday <span class="day-date"></span></div>
  </div>

  <div class="work-grid"></div>
</div>
